<div id="background">
<div id="center">
<div class="card" style="width: 18rem; height: 20rem; float: left; background-color: navy; margin-left: 100px;">
  <div class="card-body">
    <br><br><br><br><br>
    <form #categ1="ngForm" (ngSubmit)="OnSubmit1()"><button type="submit" class="block">Category1</button></form>
  </div>
</div>

<div class="card" style="width: 18rem; height: 20rem; float: left; background-color: navy; margin-left: 100px;">
  <div class="card-body">
    <br><br><br><br><br>
    <form #categ2="ngForm" (ngSubmit)="OnSubmit2()"><button type="submit" align="center" class="block">Category2</button></form>
  </div>
</div>

<div class="card" style="width: 18rem; height: 20rem; float: left; background-color: navy; margin-left: 100px;">
  <div class="card-body">
    <br><br><br><br><br>
    <form #categ3="ngForm" (ngSubmit)="OnSubmit3()"><button type="submit" align="center" class="block">Category3</button></form>
  </div>
</div>
</div>
</div>
